version: '3.8'

services:
  carbon-server:
    image: azreyo/carbon:latest
    container_name: carbon-http-server
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      - SERVER_NAME=0.0.0.0
      - PORT=8080
      - USE_HTTPS=false
      - ENABLE_HTTP2=false
      - ENABLE_WEBSOCKET=false
      - MAX_THREADS=4
      - VERBOSE=true
    restart: unless-stopped

networks:
  carbon-net:
    driver: bridge
